In [75]:
import pandas as pd

df = pd.read_csv(r"C:\Users\kche8\OneDrive\Desktop\Dataset\melb_data.csv")
print(df.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [76]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
None

In [77]:
print(df.describe())

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [78]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Suburb,13580,314,Reservoir,359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Address,13580,13378,36 Aberfeldie St,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rooms,13580.0,NaN,NaN,NaN,2.937997,0.955748,1.0,2.0,3.0,3.0,10.0
Type,13580,3,h,9449,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price,13580.0,NaN,NaN,NaN,1075684.079455,639310.724296,85000.0,650000.0,903000.0,1330000.0,9000000.0
Method,13580,5,S,9022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SellerG,13580,268,Nelson,1565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date,13580,58,27/05/2017,473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Distance,13580.0,NaN,NaN,NaN,10.137776,5.868725,0.0,6.1,9.2,13.0,48.1
Postcode,13580.0,NaN,NaN,NaN,3105.301915,90.676964,3000.0,3044.0,3084.0,3148.0,3977.0
Bedroom2,13580.0,NaN,NaN,NaN,2.914728,0.965921,0.0,2.0,3.0,3.0,20.0
Bathroom,13580.0,NaN,NaN,NaN,1.534242,0.691712,0.0,1.0,1.0,2.0,8.0
Car,13518.0,NaN,NaN,NaN,1.610075,0.962634,0.0,1.0,2.0,2.0,10.0
Landsize,13580.0,NaN,NaN,NaN,558.416127,3990.669241,0.0,177.0,440.0,651.0,433014.0
BuildingArea,7130.0,NaN,NaN,NaN,151.96765,541.014538,0.0,93.0,126.0,174.0,44515.0
YearBuilt,8205.0,NaN,NaN,NaN,1964.684217,37.273762,1196.0,1940.0,1970.0,1999.0,2018.0
CouncilArea,12211,33,Moreland,1163,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lattitude,13580.0,NaN,NaN,NaN,-37.809203,0.07926,-38.18255,-37.856822,-37.802355,-37.7564,-37.40853
Longtitude,13580.0,NaN,NaN,NaN,144.995216,0.103916,144.43181,144.9296,145.0001,145.058305,145.52635
Regionname,13580,8,Southern Metropolitan,4695,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Propertycount,13580.0,NaN,NaN,NaN,7454.417378,4378.581772,249.0,4380.0,6555.0,10331.0,21650.0

In [79]:
print(df.isnull().sum())

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [80]:
#Fill BuildingArea missing values using median by Rooms
buildingarea_medians = df.groupby("Rooms")["BuildingArea"].median()

def fill_building_area(row):
    if pd.isnull(row["BuildingArea"]):
        return buildingarea_medians.get(row["Rooms"], df["BuildingArea"].median())
    else:
        return row["BuildingArea"]

df["BuildingArea"] = df.apply(fill_building_area, axis=1)

In [81]:
# Fill any remaining BuildingArea (e.g. rare room counts) with overall median
df["BuildingArea"] = df["BuildingArea"].fillna(df["BuildingArea"].median())

In [82]:
# fill missing Car values with 0 (no car spot assumed)
df["Car"] = df["Car"].fillna(0)

In [83]:
print(df.isnull().sum())

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [97]:
# Fill missing CouncilArea with 'Unknown'
df["CouncilArea"] = df["CouncilArea"].fillna("Unknown")

In [85]:
# Convert Date to datetime format
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y", errors="coerce")
# format the datetime as a string in mm/dd/yyyy
df["Date"] = df["Date"].dt.strftime("%m/%d/%Y")

In [86]:
# Convert Postcode to integer (no decimals needed for postcodes)
df["Postcode"] = df["Postcode"].astype(int)

In [87]:
# Convert Propertycount to integer (counts should be whole numbers)
df["Propertycount"] = df["Propertycount"].astype(int)

In [88]:
# Convert Car to integer (car spots should be whole numbers)
df["Car"] = df["Car"].astype(int)

In [89]:
# Check number of duplicate rows
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [90]:
# Drop duplicates
df = df.drop_duplicates()

In [92]:
# Add is_outlier flag
price_thresh = df["Price"].quantile(0.99)
landsize_thresh = df["Landsize"].quantile(0.99)
buildingarea_thresh = df["BuildingArea"].quantile(0.99)

df["is_outlier"] = (
    (df["Price"] > price_thresh) |
    (df["Landsize"] > landsize_thresh) |
    (df["BuildingArea"] > buildingarea_thresh)
).astype(int)

print(f"Number of outliers flagged: {df['is_outlier'].sum()}")

Number of outliers flagged: 379

In [96]:
df.to_excel("cleaned_melb_data.xlsx", index=False)